@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --red: #D01C28;
    --grey: #2e2e2e;
}

* {
    margin: 0;

}

button {
    all: unset;
    padding: 6px 16px;
    background: var(--red);
    height: 32px;
    color: white;
    font-weight: 500;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
    /* padding: 40px; */
}

nav ul {
    display: flex;
    list-style: none;
    gap: 24px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.hero {
    padding-top: 45px;
    display: flex;
    align-items: center;
    height: calc(100vh- 72px);

}

.hero h1 {
    font-size: 108px;
    font-weight: 800;
    line-height: 102px;
}

.hero p {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: var(--grey);
    max-width: 400px;
}

.hero-btn {
    display: flex;
    gap: 40px;
}

.hero-btn button {
    font-size: 24px;
}

.secondary-btn {
    background: transparent;
    color: var(--grey);
    border: 1px solid gray;
}

.availability p {
    color: var(--grey, #5A5959);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.brand-icons {
    display: flex;
    gap: 16px;
}