h1{
    /* max-width: 315px;
    height: 72px; */
    
font-size: 48px;
font-weight: 800;
line-height: 72px;
text-align: left;

    
}
p{
    /* max-width: 975px;
    height: 72px; */
    max-width: 80%;
    font-family: Poppins;
font-size: 16px;
font-weight: 600;
line-height: 24px;
text-align: left;

}

